{% extends 'inscriptionbase.html.twig' %}
{% block title %}Login

{% endblock %}
{% block body %}
    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active" > Sign In  </h2>
    <h2 class="inactive underlineHover"> <a href="{{path('security_registration')}}"> Sign Up </a> </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/css/img/user.png"  id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form  action="{{ path('security_login') }}" method="post">
      <input type="text" class="fadeIn second" required name="_username" placeholder="Email">
      <input type="password" class="fadeIn third" required name="_password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
   
{% endblock %}
